.main {
margin: 0 auto;
position: relative;
}

.main__intro {
  background-color: #999999;
  background-image: url("../../img/background-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  min-height: 800px;
  padding-top: 280px;
}

.main__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #F2C94C;
  text-align: center;
}

.main__description {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  font-weight: 800;
}

.main__description--gallery {
  color: #333333;
}

.intro__container {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
}

.intro__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.intro__insta-link {
  position: relative;
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 20px;
  color: #ffffff;
}

.intro__insta-link::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -23px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/insta.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.intro__button {
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
}

.main__features {
  display: flex;
  width: 95%;
  background-color: transparent;
  margin-right: 0;
  margin-left: auto;
  margin-top: 100px;
  flex-wrap: wrap;
}

.main__title--features {
  color: #ffffff;
  width: 50%;
  text-align: left;
  text-align: left;
  letter-spacing: 3px;
}

.features__remark {
  width: 50%;
  text-align: end;
  padding-right: 30px;
}

.features__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.features__item {
  position: relative;
  padding-top: 50px;
}

.features__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  z-index: 3;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.features__item--first-photoes::before {
background-image: url("data:image/svg+xml,%3Csvg width='40' height='37' viewBox='0 0 40 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.4183 36.6667H2.57083C1.19833 36.6667 0 35.545 0 34.1667V9.16668C0 7.78752 1.19833 6.66585 2.57083 6.66585H37.4183C38.7908 6.66585 40 7.78752 40 9.16668V34.1667C40 35.545 38.7908 36.6667 37.4183 36.6667ZM38.3333 9.16668C38.3333 8.70668 37.8758 8.33252 37.4183 8.33252H2.57083C2.11333 8.33252 1.66667 8.70668 1.66667 9.16668V26.7083L11.9833 17.7033C12.3117 17.4175 12.8067 17.435 13.1142 17.7442L22.5617 27.2325L28.6233 22.6658C28.9583 22.4142 29.4242 22.4525 29.7158 22.7509L38.3333 31.6234V9.16668ZM38.3333 34.0092L29.0367 24.4384L22.9817 29C22.6517 29.2492 22.1892 29.2159 21.8975 28.9217L12.4875 19.4717L1.66667 28.9167V34.1667C1.66667 34.6259 2.11333 34.9992 2.57083 34.9992H37.4183C37.8758 34.9992 38.3333 34.6259 38.3333 34.1667V34.0092ZM26.6325 15.835C26.6325 14.455 27.7508 13.3333 29.125 13.3333C30.495 13.3333 31.6108 14.455 31.6108 15.835C31.6108 17.2117 30.495 18.3325 29.125 18.3325C27.7508 18.3325 26.6325 17.2117 26.6325 15.835ZM29.9517 15.835C29.9517 15.3742 29.5808 15 29.125 15C28.6658 15 28.2917 15.3742 28.2917 15.835C28.2917 16.2934 28.6658 16.6667 29.125 16.6667C29.5808 16.6667 29.9517 16.2934 29.9517 15.835ZM36.5892 5.00002H2.57083C2.11333 5.00002 1.74167 4.62668 1.74167 4.16668C1.74167 3.70585 2.11333 3.33335 2.57083 3.33335H36.5892C37.0475 3.33335 37.4183 3.70585 37.4183 4.16668C37.4183 4.62668 37.0475 5.00002 36.5892 5.00002ZM34.9292 1.66585H4.23083C3.7725 1.66585 3.40083 1.29335 3.40083 0.832515C3.40083 0.372515 3.7725 1.52588e-05 4.23083 1.52588e-05H34.9292C35.3875 1.52588e-05 35.7592 0.372515 35.7592 0.832515C35.7592 1.29335 35.3875 1.66585 34.9292 1.66585Z' fill='%23F2C94C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M37.4183 36.6667H2.57083C1.19833 36.6667 0 35.545 0 34.1667V9.16668C0 7.78752 1.19833 6.66585 2.57083 6.66585H37.4183C38.7908 6.66585 40 7.78752 40 9.16668V34.1667C40 35.545 38.7908 36.6667 37.4183 36.6667ZM38.3333 9.16668C38.3333 8.70668 37.8758 8.33252 37.4183 8.33252H2.57083C2.11333 8.33252 1.66667 8.70668 1.66667 9.16668V26.7083L11.9833 17.7033C12.3117 17.4175 12.8067 17.435 13.1142 17.7442L22.5617 27.2325L28.6233 22.6658C28.9583 22.4142 29.4242 22.4525 29.7158 22.7509L38.3333 31.6234V9.16668ZM38.3333 34.0092L29.0367 24.4384L22.9817 29C22.6517 29.2492 22.1892 29.2159 21.8975 28.9217L12.4875 19.4717L1.66667 28.9167V34.1667C1.66667 34.6259 2.11333 34.9992 2.57083 34.9992H37.4183C37.8758 34.9992 38.3333 34.6259 38.3333 34.1667V34.0092ZM26.6325 15.835C26.6325 14.455 27.7508 13.3333 29.125 13.3333C30.495 13.3333 31.6108 14.455 31.6108 15.835C31.6108 17.2117 30.495 18.3325 29.125 18.3325C27.7508 18.3325 26.6325 17.2117 26.6325 15.835ZM29.9517 15.835C29.9517 15.3742 29.5808 15 29.125 15C28.6658 15 28.2917 15.3742 28.2917 15.835C28.2917 16.2934 28.6658 16.6667 29.125 16.6667C29.5808 16.6667 29.9517 16.2934 29.9517 15.835ZM36.5892 5.00002H2.57083C2.11333 5.00002 1.74167 4.62668 1.74167 4.16668C1.74167 3.70585 2.11333 3.33335 2.57083 3.33335H36.5892C37.0475 3.33335 37.4183 3.70585 37.4183 4.16668C37.4183 4.62668 37.0475 5.00002 36.5892 5.00002ZM34.9292 1.66585H4.23083C3.7725 1.66585 3.40083 1.29335 3.40083 0.832515C3.40083 0.372515 3.7725 1.52588e-05 4.23083 1.52588e-05H34.9292C35.3875 1.52588e-05 35.7592 0.372515 35.7592 0.832515C35.7592 1.29335 35.3875 1.66585 34.9292 1.66585Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='1.52588e-05' x2='40' y2='37' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.5'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0.1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.features__item--first-day::before {
background-image: url("data:image/svg+xml,%3Csvg width='40' height='37' viewBox='0 0 40 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.3792 13.3016C16.68 13.0016 17.1662 13.0016 17.4669 13.3016L22.2931 18.1277C22.7508 17.8577 23.2769 17.6923 23.8462 17.6923C25.5431 17.6923 26.9231 19.0723 26.9231 20.7692C26.9231 22.4654 25.5431 23.8462 23.8462 23.8462C22.1492 23.8462 20.7692 22.4654 20.7692 20.7692C20.7692 20.2 20.9346 19.6731 21.2054 19.2154L16.3792 14.3892C16.0785 14.0892 16.0785 13.6023 16.3792 13.3016ZM23.8462 22.3069C24.6938 22.3069 25.3846 21.6169 25.3846 20.7692C25.3846 19.9208 24.6938 19.2308 23.8462 19.2308C23.5462 19.2308 23.2677 19.3208 23.03 19.47C22.9938 19.5808 22.94 19.6862 22.8515 19.7739C22.7638 19.8623 22.6577 19.9162 22.5469 19.9523C22.3977 20.19 22.3077 20.4685 22.3077 20.7692C22.3077 21.6169 22.9977 22.3069 23.8462 22.3069ZM36.1369 10.3346C38.5377 13.1492 40 16.7854 40 20.7692C40 29.6762 32.7531 36.9231 23.8462 36.9231C18.7162 36.9231 14.0054 34.5669 10.9215 30.4608C10.6669 30.1216 10.7354 29.6392 11.0746 29.3839C11.4146 29.1292 11.8977 29.1969 12.1523 29.5369C14.9431 33.2523 19.2054 35.3839 23.8462 35.3839C31.9054 35.3839 38.4615 28.8277 38.4615 20.7692C38.4615 12.71 31.9054 6.15309 23.8462 6.15309C18.9185 6.15309 14.3538 8.61232 11.6377 12.7308C11.4038 13.0854 10.9269 13.1831 10.5715 12.95C10.2169 12.7162 10.1192 12.2377 10.3531 11.8831C13.2138 7.54771 17.9285 4.88155 23.0769 4.63848V1.53771H20C19.5746 1.53771 19.2308 1.19309 19.2308 0.768477C19.2308 0.343861 19.5746 1.52588e-05 20 1.52588e-05H27.6923C28.1177 1.52588e-05 28.4615 0.343861 28.4615 0.768477C28.4615 1.19309 28.1177 1.53771 27.6923 1.53771H24.6154V4.65386C28.2931 4.82848 31.6485 6.24002 34.2838 8.47386L36.3792 6.37848C36.68 6.07848 37.1662 6.07848 37.4669 6.37848L38.2362 7.14848C38.5369 7.44848 38.5369 7.9354 38.2362 8.23617L36.1369 10.3346ZM8.46154 16.9223H0.769231C0.343846 16.9223 0 16.5785 0 16.1531C0 15.7285 0.343846 15.3846 0.769231 15.3846H8.46154C8.88692 15.3846 9.23077 15.7285 9.23077 16.1531C9.23077 16.5785 8.88692 16.9223 8.46154 16.9223ZM3.84615 19.9992H13.0769C13.5023 19.9992 13.8462 20.3446 13.8462 20.7692C13.8462 21.1939 13.5023 21.5377 13.0769 21.5377H3.84615C3.42077 21.5377 3.07692 21.1939 3.07692 20.7692C3.07692 20.3446 3.42077 19.9992 3.84615 19.9992ZM6.15385 24.6154H10.7692C11.1946 24.6154 11.5385 24.9592 11.5385 25.3839C11.5385 25.8085 11.1946 26.1539 10.7692 26.1539H6.15385C5.72846 26.1539 5.38462 25.8085 5.38462 25.3839C5.38462 24.9592 5.72846 24.6154 6.15385 24.6154Z' fill='%23F2C94C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.3792 13.3016C16.68 13.0016 17.1662 13.0016 17.4669 13.3016L22.2931 18.1277C22.7508 17.8577 23.2769 17.6923 23.8462 17.6923C25.5431 17.6923 26.9231 19.0723 26.9231 20.7692C26.9231 22.4654 25.5431 23.8462 23.8462 23.8462C22.1492 23.8462 20.7692 22.4654 20.7692 20.7692C20.7692 20.2 20.9346 19.6731 21.2054 19.2154L16.3792 14.3892C16.0785 14.0892 16.0785 13.6023 16.3792 13.3016ZM23.8462 22.3069C24.6938 22.3069 25.3846 21.6169 25.3846 20.7692C25.3846 19.9208 24.6938 19.2308 23.8462 19.2308C23.5462 19.2308 23.2677 19.3208 23.03 19.47C22.9938 19.5808 22.94 19.6862 22.8515 19.7739C22.7638 19.8623 22.6577 19.9162 22.5469 19.9523C22.3977 20.19 22.3077 20.4685 22.3077 20.7692C22.3077 21.6169 22.9977 22.3069 23.8462 22.3069ZM36.1369 10.3346C38.5377 13.1492 40 16.7854 40 20.7692C40 29.6762 32.7531 36.9231 23.8462 36.9231C18.7162 36.9231 14.0054 34.5669 10.9215 30.4608C10.6669 30.1216 10.7354 29.6392 11.0746 29.3839C11.4146 29.1292 11.8977 29.1969 12.1523 29.5369C14.9431 33.2523 19.2054 35.3839 23.8462 35.3839C31.9054 35.3839 38.4615 28.8277 38.4615 20.7692C38.4615 12.71 31.9054 6.15309 23.8462 6.15309C18.9185 6.15309 14.3538 8.61232 11.6377 12.7308C11.4038 13.0854 10.9269 13.1831 10.5715 12.95C10.2169 12.7162 10.1192 12.2377 10.3531 11.8831C13.2138 7.54771 17.9285 4.88155 23.0769 4.63848V1.53771H20C19.5746 1.53771 19.2308 1.19309 19.2308 0.768477C19.2308 0.343861 19.5746 1.52588e-05 20 1.52588e-05H27.6923C28.1177 1.52588e-05 28.4615 0.343861 28.4615 0.768477C28.4615 1.19309 28.1177 1.53771 27.6923 1.53771H24.6154V4.65386C28.2931 4.82848 31.6485 6.24002 34.2838 8.47386L36.3792 6.37848C36.68 6.07848 37.1662 6.07848 37.4669 6.37848L38.2362 7.14848C38.5369 7.44848 38.5369 7.9354 38.2362 8.23617L36.1369 10.3346ZM8.46154 16.9223H0.769231C0.343846 16.9223 0 16.5785 0 16.1531C0 15.7285 0.343846 15.3846 0.769231 15.3846H8.46154C8.88692 15.3846 9.23077 15.7285 9.23077 16.1531C9.23077 16.5785 8.88692 16.9223 8.46154 16.9223ZM3.84615 19.9992H13.0769C13.5023 19.9992 13.8462 20.3446 13.8462 20.7692C13.8462 21.1939 13.5023 21.5377 13.0769 21.5377H3.84615C3.42077 21.5377 3.07692 21.1939 3.07692 20.7692C3.07692 20.3446 3.42077 19.9992 3.84615 19.9992ZM6.15385 24.6154H10.7692C11.1946 24.6154 11.5385 24.9592 11.5385 25.3839C11.5385 25.8085 11.1946 26.1539 10.7692 26.1539H6.15385C5.72846 26.1539 5.38462 25.8085 5.38462 25.3839C5.38462 24.9592 5.72846 24.6154 6.15385 24.6154Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0' y1='1.52588e-05' x2='40.2569' y2='36.9791' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.5'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0.1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.features__item--all-photoes::before {
background-image: url("data:image/svg+xml,%3Csvg width='40' height='37' viewBox='0 0 40 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.2381 36.5714H0.761905C0.340571 36.5714 0 36.2308 0 35.8103V5.33333C0 4.91275 0.340571 4.57219 0.761905 4.57219H13.1429V0.762665C13.1429 0.342093 13.4834 0 13.9048 0C14.3261 0 14.6667 0.342093 14.6667 0.762665V4.57219H25.3333V0.762665C25.3333 0.342093 25.6739 0 26.0952 0C26.5166 0 26.8571 0.342093 26.8571 0.762665V4.57219H39.2381C39.6594 4.57219 40 4.91275 40 5.33333V35.8103C40 36.2308 39.6594 36.5714 39.2381 36.5714ZM38.4762 6.09599H26.8571V8.38094C26.8571 8.80227 26.5166 9.14361 26.0952 9.14361C25.6739 9.14361 25.3333 8.80227 25.3333 8.38094V6.09599H14.6667V8.38094C14.6667 8.80227 14.3261 9.14361 13.9048 9.14361C13.4834 9.14361 13.1429 8.80227 13.1429 8.38094V6.09599H1.52381V11.4293H38.4762V6.09599ZM38.4762 12.9524H1.52381V35.0484H38.4762V12.9524Z' fill='%23F2C94C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.2381 36.5714H0.761905C0.340571 36.5714 0 36.2308 0 35.8103V5.33333C0 4.91275 0.340571 4.57219 0.761905 4.57219H13.1429V0.762665C13.1429 0.342093 13.4834 0 13.9048 0C14.3261 0 14.6667 0.342093 14.6667 0.762665V4.57219H25.3333V0.762665C25.3333 0.342093 25.6739 0 26.0952 0C26.5166 0 26.8571 0.342093 26.8571 0.762665V4.57219H39.2381C39.6594 4.57219 40 4.91275 40 5.33333V35.8103C40 36.2308 39.6594 36.5714 39.2381 36.5714ZM38.4762 6.09599H26.8571V8.38094C26.8571 8.80227 26.5166 9.14361 26.0952 9.14361C25.6739 9.14361 25.3333 8.80227 25.3333 8.38094V6.09599H14.6667V8.38094C14.6667 8.80227 14.3261 9.14361 13.9048 9.14361C13.4834 9.14361 13.1429 8.80227 13.1429 8.38094V6.09599H1.52381V11.4293H38.4762V6.09599ZM38.4762 12.9524H1.52381V35.0484H38.4762V12.9524Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M15.7585 16.4C15.4735 16.2827 15.1467 16.3467 14.928 16.5646L12.3063 19.187C12.0084 19.4842 12.0084 19.9665 12.3063 20.2644C12.6034 20.5615 13.0857 20.5615 13.3829 20.2644L14.7048 18.9432V30.2133C14.7048 30.6339 15.0453 30.9752 15.4667 30.9752C15.888 30.9752 16.2286 30.6339 16.2286 30.2133V17.104C16.2286 16.7954 16.0434 16.5181 15.7585 16.4Z' fill='%23F2C94C'/%3E%3Cpath d='M15.7585 16.4C15.4735 16.2827 15.1467 16.3467 14.928 16.5646L12.3063 19.187C12.0084 19.4842 12.0084 19.9665 12.3063 20.2644C12.6034 20.5615 13.0857 20.5615 13.3829 20.2644L14.7048 18.9432V30.2133C14.7048 30.6339 15.0453 30.9752 15.4667 30.9752C15.888 30.9752 16.2286 30.6339 16.2286 30.2133V17.104C16.2286 16.7954 16.0434 16.5181 15.7585 16.4Z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M26.1326 16.4731L20.0373 16.4808C19.6168 16.4808 19.2762 16.8221 19.2762 17.2419V21.8141C19.2762 22.2347 19.6168 22.5752 20.0381 22.5752H23.0857C25.0507 22.5752 26.1333 23.827 26.1333 26.0998C26.1333 28.3863 25.1642 29.4514 23.0857 29.4514C20.9653 29.4514 20.8 27.6868 20.8 27.1467C20.8 26.7261 20.4594 26.3848 20.0381 26.3848C19.6168 26.3848 19.2762 26.7261 19.2762 27.1467C19.2762 29.0522 20.4541 30.9752 23.0857 30.9752C25.9909 30.9752 27.6571 29.1977 27.6571 26.0998C27.6571 22.3779 25.2952 21.0514 23.0857 21.0514H20.8V18.003L26.1341 17.9969C26.5554 17.9962 26.896 17.6548 26.8952 17.2335C26.8945 16.8129 26.5531 16.4731 26.1326 16.4731Z' fill='%23F2C94C'/%3E%3Cpath d='M26.1326 16.4731L20.0373 16.4808C19.6168 16.4808 19.2762 16.8221 19.2762 17.2419V21.8141C19.2762 22.2347 19.6168 22.5752 20.0381 22.5752H23.0857C25.0507 22.5752 26.1333 23.827 26.1333 26.0998C26.1333 28.3863 25.1642 29.4514 23.0857 29.4514C20.9653 29.4514 20.8 27.6868 20.8 27.1467C20.8 26.7261 20.4594 26.3848 20.0381 26.3848C19.6168 26.3848 19.2762 26.7261 19.2762 27.1467C19.2762 29.0522 20.4541 30.9752 23.0857 30.9752C25.9909 30.9752 27.6571 29.1977 27.6571 26.0998C27.6571 22.3779 25.2952 21.0514 23.0857 21.0514H20.8V18.003L26.1341 17.9969C26.5554 17.9962 26.896 17.6548 26.8952 17.2335C26.8945 16.8129 26.5531 16.4731 26.1326 16.4731Z' fill='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='4' y1='6.26304e-06' x2='42.2984' y2='28.4146' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.5'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0.1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='4' y1='6.26304e-06' x2='42.2984' y2='28.4146' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.5'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0.1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='4' y1='6.26304e-06' x2='42.2984' y2='28.4146' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.5'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0.1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.main__gallery,
.main__pricelist {
  padding-top: 30px;
  padding-bottom: 30px;
}

.filters-form__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters-form__item {
  display: inline-block;
	margin-right: 10px;
}

.filters-form__input {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
}

.filters-form__label {
  color: #333333;
  border: 2px solid #E9E9E9;
  padding: 10px;
  margin: 10px;
  display: inline-block;
	cursor: pointer;
}

.filters-form__item .filters-form__input:checked + .filters-form__label {
  background-color: #F2C94C;
  border: none;
}

.photo-content {
  width: 95%;
  overflow-x: scroll;
  margin-right: 0;
  margin-left: auto;
}

.photo-content__list {
  display: grid;
  grid-template-rows: 70px 70px 70px;
  grid-template-columns: 105px 105px 105px 105px;
  grid-gap: 10px;
}

.photo-content__item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.photo-content__item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.photo-content__image {
  width: 100%;
  height: 100%;
}

.main__pricelist {
  background-color: #202020;
}

.pricelist__tariff-list,
.tariff__description-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tariff__item {
  width: 250px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.tariff__item--active {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.tariff__title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 34px;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  color: #F2C94C;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
}

.tariff__package {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 800;
  font-style: normal;
  color: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
}

.tariff__description-list {
  padding: 20px;
}

.tariff__description {
  position: relative;
  padding: 10px 0 10px 20px;
  line-height: 1.4;
}

.tariff__description--deactivated {
  color: rgba(255, 255, 255, 0.1);
}

.tariff__description::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -5px;
  height: 10px;
  width: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.625L5.375 11L15.375 1' stroke='%23F2C94C' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-size: 15px 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.tariff__description--deactivated::before {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M1 6.625L5.375 11L15.375 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}

.tariff__order-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.tariff__rate {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}

.tariff__order {
  width: 150px;
  height: 50px;
  text-align: center;
  color: #333333;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #F2C94C;
  border: none;
  margin-bottom: 40px;
}

@media(min-width: 768px) {
  .main__intro {
    padding-top: 150px;
  }

  .intro__container {
    width: 500px;
  }

  .title {
    font-size: 70px;
    line-height: 70px;
  }

  .main__title {
    font-size: 18px;
  }

  .main__description {
    font-size: 30px;
  }

  .intro__text {
    font-size: 22px;
    line-height: 28px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .intro__insta-link {
    font-size: 26px;
    line-height: 28px;
  }

  .intro__insta-link::after {
    top: 5px;
    right: -30px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }

  .intro__button {
    font-size: 15px;
    margin: 30px auto;
    padding: 20px 40px;
  }

  .features__list {
    display: flex;
    padding-right: 50px;
  }

  .features__item {
    padding-right: 20px;
  }
  
  .photo-content__list {
    grid-template-rows: 140px 140px 140px;
    grid-template-columns: 210px 210px 210px 210px;
  }

  .pricelist__tariff-list {
    display: flex;
  }

  .tariff__item {
    width: 300px;
  }

}

@media(min-width: 900px) {

  .tariff__description-list {
    min-height: 335px;
  }
}

@media(min-width: 1250px) {
  .intro__container {
    width: 600px;
  }
  
  .title {
    font-size: 90px;
    line-height: 90px;
  }

  .main__description {
    font-size: 42px;
  }


  .intro__text {
    font-size: 26px;
    line-height: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .intro__button {
    padding: 27px 58px;
  }

  .features__list {
    padding: 0;
    padding-right: 80px;
    padding-left: 30px;
  }

  .features__item {
    font-size: 18px;
    line-height: 1.4;
    padding: 50px 90px;
  }

  .features__item::before {
    top: 55px;
    left: 15px;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }

  .features__item--first-photoes::after,
  .features__item--first-day::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 25px;
    right: 30px;
    height: 100px;
    width: 1px;
    background-color: #ffffff;
  }

  .photo-content__list {
    grid-template-rows: 280px 280px 280px;
    grid-template-columns: 420px 420px 420px 420px;
  }
    
  .tariff__item {
    width: 420px;
    font-size: 18px;
    font-weight: 600;
  }

  .tariff__description {
    padding: 10px 20px 10px 50px;
  }
  
  .tariff__description::before {
    left: 10px;
  }

  .tariff__order {
    width: 230px;
    height: 60px;
  }

}

